//colors
$column-bg: #19171D;
$sidebar-color: #4A154B;
$active-item: #1164A3;
$active-item-text: #FFFFFF;
$hover-item: #27242C;
$text-color: #D1D2D3;
$active-presence: #2BAC76;
$mention-bagde: #CD2553;
$top-nav-bg: #121016;
$top-nav-text: #D1D2D3;